<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product List</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>

  <body onload="fetchProducts()">
    <div class="container mt-4">
      <h2>Product List</h2>
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group" id="productList">
            <!-- Product items will be dynamically added here -->

            <!-- Add more products here as needed -->
          </ul>
        </div>
        <div class="col-md-6">
          <div class="card" style="display: none" id="productDetails">
            
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="../js/products.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
  </body>
</html>
